* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: normal; }

button {
  font: inherit;
  border: 0;
  text-align: left; }

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/JosefinSans-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: regular; }

html, * {
  scroll-snap-type: Y mandatory; }

body {
  max-width: 100vw;
  background: url(/img/bakgrunn.png) no-repeat top center;
  background-color: #17171e;
  background-size: cover;
  display: grid;
  grid-template-columns: auto;
  overflow-x: hidden;
  font-family: "Josefin Sans";
  z-index: 10; }

header {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  scroll-snap-align: center; }

header h1 {
  transform: translateX(0) rotate(-45deg);
  text-align: center;
  margin-left: 90px; }

section {
  width: 100vw;
  height: 100vh;
  display: grid;
  padding: 110px;
  scroll-snap-align: center; }

.sec1 {
  text-align: center; }

.sec3 {
  justify-content: end;
  color: #39BCBB; }

.sec7 {
  justify-content: end;
  color: #17171F; }

.sec12 {
  color: #39BCBB;
  place-items: center;
  grid-template-columns: auto; }

.centered-alignment {
  align-self: center; }

.bottom-alignment {
  align-self: self-end; }

h1 {
  color: #39BCBB;
  font-size: 4em;
  position: relative; }

h2 {
  color: #A82225;
  font-size: 2.5em; }

p {
  font-size: 2em;
  color: #39BCBB;
  width: 500px; }

a {
  font-size: 3em;
  color: #39BCBB;
  text-decoration: none;
  position: relative;
  left: 8vw;
  top: 43vh;
  z-index: 100; }

.title2 {
  color: #39BCBB; }

.godfisk {
  position: relative;
  left: 46vw;
  bottom: 23vh;
  z-index: 100; }

.section-set4, .section-set2 {
  color: #17171F; }

.section-set5 {
  text-align: center;
  width: 100%;
  color: #39BCBB; }

span {
  color: #A82225; }

.instagram {
  transition: 0.2s all;
  cursor: pointer; }

.facebook {
  transition: 0.2s all;
  text-align: center;
  cursor: pointer; }

.instagram:hover, .facebook:hover {
  transform: scale(1.2); }

.fish-container {
  cursor: pointer;
  display: grid;
  grid-auto-flow: center; }

.red-fish {
  position: relative;
  width: 80vw;
  transition: 0.2s all; }

.blue-fish {
  width: 40vw;
  position: relative;
  left: 40vw;
  z-index: 10;
  transition: 0.2s all; }

.red-fish:hover, .blue-fish:hover {
  transform: scale(1.1); }
