* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: normal; }

button {
  font: inherit;
  border: 0;
  text-align: left; }

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/JosefinSans-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: regular; }

html, * {
  scroll-snap-type: Y mandatory; }

body {
  max-width: 100vw;
  background: url(/img/bakgrunn.png) no-repeat top center;
  background-color: #17171e;
  background-size: cover;
  display: grid;
  grid-template-columns: auto;
  overflow-x: hidden;
  font-family: "Josefin Sans";
  z-index: 10; }

header {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  scroll-snap-align: center; }

header h1 {
  transform: translateX(0) rotate(-45deg);
  text-align: center;
  margin-left: 90px; }

section {
  width: 100vw;
  height: 100vh;
  display: grid;
  padding: 140px;
  scroll-snap-align: center; }

.centered-alignment {
  align-self: center; }

.bottom-alignment {
  align-self: self-end; }

.title2 {
  color: #39BCBB; }

.section-set1 {
  color: #39BCBB;
  width: 500px; }

.section-set2 {
  width: 500px; }

.section-set3 {
  color: #39BCBB;
  width: 500px; }

.section-set4 {
  width: 500px; }

.section-set5 {
  text-align: center;
  width: 100%;
  color: #39BCBB; }

.sec3 {
  justify-content: end;
  color: #39BCBB; }

.sec7 {
  justify-content: end;
  color: #17171F; }

.sec11 {
  text-align: end; }

.sec12 {
  color: #39BCBB; }

.instagram {
  text-align: center; }

a {
  font-size: 3em;
  color: #39BCBB;
  text-decoration: none; }

h1 {
  color: #39BCBB;
  font-size: 4em;
  position: relative; }

h2 {
  color: #A82225;
  font-size: 2.5em; }

p {
  font-size: 2em; }

span {
  color: #A82225; }
