html, *
	scroll-snap-type: Y mandatory
	
	
	
body	
	background-color: $background
	max-width: $sectionwidth
	background: url(#{$img-path}/bakgrunn.png) no-repeat top center
	background-size: cover
	display: grid
	grid-template-columns: auto
	overflow-x: hidden
	font-family: $font
	z-index: 10

	+mobile
		background: url(#{$img-path}/bakgrunn-mobil.png) no-repeat top center
	
header
	max-width: $sectionwidth
	height: $sectionheight
	display: grid
	place-items: center
	scroll-snap-align: center

	+mobile
		height: 50vh


// Seksjoner

section
	width: $sectionwidth
	height: $sectionheight
	display: grid
	padding: $site-margin
	scroll-snap-align: center

	+mobile 
		height: 80vh
		place-items: center

.sec1 
	text-align: left
	place-content: center left

	+mobile
	place-content: none


.sec3 
	justify-content: end
	color: $elementcolor1

.sec4, .sec8
	+mobile
		height: 0

.sec7 
	justify-content: end
	color: $background

.sec9
	padding-items: center
	text-align: center

.sec10
	place-items: top
	position: relative
	bottom: 80vh

.sec11
	+mobile
		background-color: $background

.sec12
	color: $elementcolor1
	place-items: center
	text-align: left

	+mobile
		background-color: $background

.sec13
	place-items: center
	grid-template-columns: auto
	text-align: center

	+mobile
		background-color: $background
// Div-er

.centered-alignment
	align-self: center
	position: relative

	+mobile
	right: 10vw
	bottom: 10vh

.sec6 .centered-alignment
	+mobile 
		bottom: 65vh

.centered-alignment .fishcontainer
	position: relative

	


.bottom-alignment
	align-self: self-end
	position: relative

	+mobile
		align-self: center
		
.rules 
	display: grid
	grid-template-columns: auto	auto 
	gap: $padding * 2
	position: relative

	+mobile 
		width: 50vw
		right: 26vw
		line-height: $line-height

.fish-container 
	cursor: pointer
	display: grid
	grid-auto-flow: center
	transition: 0.2s all
	
.fish-container:hover
	transform: scale(1.1)

.video
	display: grid
	grid-template-columns: auto
	place-items: center

.ikoner
	display: grid
	grid-template-columns: auto auto
	place-content: center
	gap: $padding 
	padding-top: $padding * 4
	padding-bottom: $padding * 2

// Tekst

header h1 
	transform: translateX(0) rotate(-45deg)
	text-align: center
	margin-left: 90px
	color: $elementcolor1
	font-size: $font-size * 4
	position: relative

	+mobile
		font-size: $font-size * 2
		margin-left: 0
		width: 95vw
		bottom: 7vh
		padding: $padding * 2.5 
		line-height: $line-height

h2 
	color: $elementcolor2
	font-size: $font-size * 2.5
	position: relative
	
	+mobile
		font-size: $font-size * 1.2
		width: 80vw
		

p 
	font-size: $font-size * 2
	color: $elementcolor1
	width: $paragraph-width
	position: relative

	+mobile
		font-size: $font-size
		width: 80vw
		
a
	font-size: $font-size * 3
	color: $elementcolor1
	text-decoration: none
	width: 40vw
	position: relative
	left: 31vw
	top: 50vh
	z-index: 100

	+mobile
		font-size: $font-size * 1.5
		left: 20vw
		top: 0
		

.title2 
	color: $elementcolor1

.godfisk
	position: relative
	left: 46vw
	bottom: 25vh
	z-index: 100

	+mobile
		font-size: $font-size
		bottom: 99vh
		left: 20vw

.section-set1
	+mobile
		bottom: 10vh

.section-set4, .section-set2
	color: $background
	
	+mobile
		bottom: 0
		left: 20vw

.section-set4
	+mobile
		bottom: 40vh
		left: 30vw

.section-set5
	text-align: center
	width: 100%
	color: $elementcolor1

	+mobile
		bottom: 80vh
		left: 10vw

.sec12 p
	width: 80vw

span
	color: $elementcolor2

.lesom
	color: $background 

.letter 
	color: $elementcolor1

.letter2
	color: $background 

#men
	color: $elementcolor2

.sec13 p 
	font-size: $font-size

// Sosiale medier-symboler

.instagram 
	transition: 0.2s all
	cursor: pointer
	width: 30px

.facebook
	transition: 0.2s all
	text-align: center
	cursor: pointer
	width: 15px

.instagram:hover, .facebook:hover
	transform: scale(1.2)


	
// Fisker


	
.red-fish
	position: relative
	width: 80vw

	+mobile
		right: 10vw
		bottom: 18vh

.blue-fish 
	width: 45vw
	position: relative
	left: 40vw
	z-index: 10

	+mobile
		width: 55vw
		bottom: 89vh
		left: 12vw

// Ikoner

.icon-arrow 
	width: 45px
	position: relative
	top: 56vh
	left: 25vw
	z-index: 100

	+mobile
		width: 25px
		left: 12vw
		top: 3.5vh




// input[type="checkbox"]:checked
//     outline: none
// 	border: none
// 	background-color: $elementcolor1
// 	border-radius: 80%

