html, *
	scroll-snap-type: Y mandatory
	
body	
	max-width: $sectionwidth	
	background: url(#{$img-path}/bakgrunn.png) no-repeat top center
	background-color: #17171e
	background-size: cover
	display: grid
	grid-template-columns: auto
	overflow-x: hidden
	font-family: $font
	z-index: 10

header
	max-width: $sectionwidth
	height: $sectionheight
	display: grid
	place-items: center
	scroll-snap-align: center

header h1 
	transform: translateX(0) rotate(-45deg)
	text-align: center
	margin-left: 90px
	
section
	width: $sectionwidth
	height: $sectionheight
	display: grid
	padding: $site-margin
	scroll-snap-align: center

.sec1 
	text-align: center

.centered-alignment
	align-self: center

.bottom-alignment
	align-self: self-end

.title2
	color: $elementcolor1

.section-set1
	color: $elementcolor1
	width: $paragraph-width

.section-set2 
	width: $paragraph-width

.section-set3
	color: $elementcolor1
	width: $paragraph-width

.section-set4
	width: $paragraph-width


.section-set5
	text-align: center
	width: 100%
	color: $elementcolor1

.sec3 
	justify-content: end
	color: $elementcolor1


.sec10 img
//	text-decoration: underline
	width: 500px
	z-index: 50

.sec7 
	justify-content: end
	color: $background

.sec11
	text-align: end

.sec12
	color: $elementcolor1

.instagram
	text-align: center

a
	font-size: $font-size * 3
	color: $elementcolor1
	text-decoration: none

h1
	color: $elementcolor1
	font-size: $font-size * 4
	position: relative

h2 
	color: $elementcolor2
	font-size: $font-size * 2.5
	
p 
	font-size: $font-size * 2
 
	
span
	color: $elementcolor2

.instagram 
	transition: 0.2s all
	cursor: pointer

.instagram:hover, .facebook:hover
	transform: scale(1.2)
	

.facebook
	transition: 0.2s all
	text-align: center
	cursor: pointer

.fish-container 
	cursor: pointer
	transition: 0.2s all
	width: 100%
	display: grid

.fish-container:hover
	transform: scale(1.2)
	

input[type=checkbox]:checked 
    outline: none
	border-radius: 80%

