html, *
	scroll-snap-type: Y mandatory
	
body	
	max-width: $sectionwidth	
	background: url(#{$img-path}/bakgrunn.png) no-repeat top center
	background-size: cover
	display: grid
	grid-template-columns: auto
	overflow-x: hidden
	font-family: $font

header
	max-width: $sectionwidth
	height: $sectionheight
	display: grid
	place-items: center
	scroll-snap-align: center

header h1 
	transform: translateX(0) rotate(-45deg)
	position: relative
	text-align: center
	
section
	width: $sectionwidth
	height: $sectionheight
	display: grid
	padding: $site-margin
	scroll-snap-align: center

.centered-alignment
	align-self: center

.bottom-alignment
	align-self: self-end

.sec3
	justify-content: end

.sec7
	justify-content: end
	

a
	font-size: $font-size * 3
	color: $elementcolor1
	text-decoration: none
	margin-top: 90 vh

h1
	color: $elementcolor1
	font-size: $font-size * 4
	position: relative

h2 
	color: $elementcolor2
	font-size: $font-size * 2.5
	
p 
	color: $elementcolor1
	font-size: $font-size * 2
	//padding-bottom: $padding
	width: $paragaph-width
	//position: relative


.rules p 
	width: $paragaph-width * 2
	

span
	color: $elementcolor2